.main-container-page{
  position: relative;
  vertical-align: middle;
  margin-top: 10vh;
  height: 100%;
  width: 100%;
}

.flex-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 4vh;
  font-size: 2vh;
}

#visit{
  position: relative;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  color: #ffcb05;
  background-color: #741ce8;
  font-size: 2vh;
  padding: 1vh 2vh 1vh 2vh;
  border-radius: 30px;
  text-decoration: none;
  transition: 1s;
}

#img1 {
/*background: url("../images/Dungeons-CharactersList.png");*/
  width: 25vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
@media only screen and (max-width: 800px) {
#img1 {
  width: 40vh;
  height: auto;
}
}

@media only screen and (max-width: 700px) {
  .flex-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      overflow: hidden;
  }
  .flex-container h1{
      margin: 0;
      text-align: center;
  }
    #hero_text {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      font-size: 3vh;
      height: 100%;
      color: #fff;
    }
    header{
        margin-bottom: 0px;
    }
    #visit{
      position: relative;
      left: 45%;
      transform: none;
      top: 80%;
    }
}