
nav a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
}
nav a:hover{
    text-decoration: none;
    color:#ffcb05;
}
.focused{
    text-decoration: none;
    color:#ffcb05;
}
.header-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #741ce8;
    padding: 15px 0px 15px 150px;
    border-bottom: #0000001c 2px solid;
}
nav{
    display: flex;
    font-size: 2vh;
    width: 25%;
    text-transform: uppercase;
    font-weight: 600;
    font-family: open sans,sans-serif;
    justify-content: space-evenly;
}
.header-name{
    font-size: 2vh;
    color: #fff;
    margin: 0;
    font-weight: 600;
}
footer{
    width: 100%;
    min-height: 12vh;
    background-color: #741ce8;
    position: absolute;
    bottom: -1;
    left: 0;
}
.footer-container{
    max-width: 970px;
    height: 12vh;
    margin-right: auto;
    margin-left: auto;
    background-color: #6819ce;
    text-align: center;
    padding-top: 15px;
}
.footer-container a{
    padding-left: 10px;
    padding-right: 10px;
}
.footer-container p{
    margin: 0;
}
body{
    font-family: open sans,sans-serif;
}

.main-container{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center

}
/*.image-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vw;
}
.image-column img{
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0px 25%;
    border: 2px solid #0000001c;
}*/

.image-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vw;
}

#me{
    background-image: url("../images/Michael\ Baerlocher.jpg");
    background-size: cover;
    background-position: 0px 25%;
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    padding-top: 10px;
    margin-bottom: 10px;
}

#Name{
    font-size: 3vh;
    opacity: 0.7;
    margin: 0px 0px 10px 0px;
}
#myName{
    font-size: 4vh;
    margin: 0;
}
.info-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
#about{
    font-size: 2vh;
    line-height: 3vh;
}

/* Start of Projects CSS */

.main-container-projects{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center

}
.projectsContainer{
    width: 80%;
    height: 90%;
    flex-direction: column;
}
.projectsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}
.projectsCard{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35vh;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.projectsCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.projectsImg{
    background-image: url("../images/Dungeons-Characters.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;

}
.projectsImg2{
    background-image: url("../images/Motivate-Me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 23%;
    width: 100%;
    height: 60%;

}
.projectsImg3{
    background-image: url("../images/Server.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;

}
.projectsImg4{
    background-image: url("../images/DNDNext.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;

}
.projectsImg5{
    background-image: url("../images/Dungeons-Characters-Site.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60%;

}
.projectsImg6{
    background-image: url("../images/coming-soon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 25%;
    width: 100%;
    height: 60%;

}
.pojectsHeader{
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.projectsCard a{
    text-decoration: none;
    color: #000;
}
.projectsCard p{
    font-size: 2vh;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 1069px) {
    .info-column{
        width: 40%;
    }
    .main-container-projects{
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: flex;
        height: 300vh;
        width: 100%;
        justify-content: center;
        align-items: center
    
    }
    .projectsRow{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 50%;
        padding-bottom: 20px;
        align-items: center;
    }
    .projectsCard{
        width: 50vh;
        height: 50vh;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 20px;
    }
    .header-name{
        display: none;
    }
    nav{
        width: 100%;
    }
}
  @media only screen and (max-width: 700px) {
    nav a{
        margin-left: 10px;
    }
    .main-container{
        flex-direction: column;
    }
    .info-column{
        width: 90%;
    }
    .image-column{
        padding-right: 0;
    }
}